@import models.form.UserData
@(form: Form[UserData], error: Optional[String])

@main("欢迎注册") {

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">欢迎注册</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            提供以下资料，将为您创建账户：
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
              @helper.form(routes.AccountController.registerAccount()) {
                <div class="form-group input-group">
                  <span class="input-group-addon">昵称</span>
                  <input type="text" class="form-control" name="nickname" placeholder="必填，最长不超过16个字符" maxlength="16">
                </div>
                <div class="form-group">
                  <label>
                    请选择性别：
                    <br>
                    <select class="form-control" name="sex">
                      <option>男</option>
                      <option>女</option>
                    </select>
                  </label>
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">生日</span>
                  <input type="date" class="form-control" name="birthday" placeholder="必填，输入格式：yyyy-MM-dd">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">血型</span>
                  <input type="text" class="form-control" name="blood" placeholder="可选，格式任意" maxlength="16">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">职业</span>
                  <input type="text" class="form-control" name="profession" placeholder="可选，格式任意" maxlength="16">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">地址</span>
                  <input type="text" class="form-control" name="location" placeholder="可选，格式任意" maxlength="255">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">学校</span>
                  <input type="text" class="form-control" name="school" placeholder="可选，格式任意" maxlength="32">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">公司</span>
                  <input type="text" class="form-control" name="company" placeholder="可选，格式任意" maxlength="32">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">手机号</span>
                  <input type="text" class="form-control" name="phone" placeholder="可选，11位手机号" maxlength="11">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">E-mail</span>
                  <input type="email" class="form-control" name="email" placeholder="可选，邮箱格式" maxlength="11">
                </div>
                <div class="form-group">
                  <label>
                    个性签名：
                    <br>
                    <textarea class="form-control" rows="3" name="signature" maxlength="140"></textarea>
                  </label>
                </div>
                <div class="form-group">
                  <label>
                    个人说明：
                    <br>
                    <textarea class="form-control" rows="3" name="description" maxlength="128"></textarea>
                  </label>
                </div>

                @if(error.isPresent) {
                  <label class="errorHint">
                  @error.get()
                  </label>
                }

                <button class="btn btn-lg btn-success btn-block" type="submit">注册</button>
              }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

}